body {
  text-align: center;
  background-color:black;
  height: 100vh;
  width: 100%;
}
.App {
  text-align: center;
  margin: auto;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-div{
  margin:30px;
}

