.App {
  background-color: rgb(166, 172, 175  );
  text-align: center;

}
.welcome {
  font-family: "Comforter", cursive;
  text-align: center;
}

.image {
  width: 200px;
  border-radius: 10%;
  text-align: center;
  margin-top: 10px;
  
}

.col-md-5{
  border : 1px solid;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
}

.container{
  text-align: center;
  
}

.imdb{
  text-align: left;
}

.cast{
  text-align: left;
}

.director{
  text-align: left;
}

.btn-primary {
  width: 100px;
  margin-bottom: 20px;
}

.btn-danger{
  width:100px;
  margin-bottom: 20px;
}

input{
  margin: 5px;
}

.addnew-movie{
  border: 1px solid ;
  border-radius: 5%;
  height:350px;
  width:350px;
  display:flex;
  text-align: center;
  margin:10px;
  
}

.addtext{
  color: rgb(91, 44, 111 );
  margin-top:100px;
  font-family: 'Fira Sans', sans-serif;
}

#addbutton{
  margin:10px;
}

