.box_1{
    width: 500px;
    height: 400px;

}

.heading{
    background-color: green;
}
.box{
    height: 300px;
    width: 500px;
    border: 3px solid;
}

.question{
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    width: 500px;
    margin-top: 40px;
}

.mark{
    background-color: yellow;
}
    
